!!! 5
%html
  %head
    %title Live Wire
    = stylesheet_link_tag 'reset-min',
                          'http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/style.css',
                          'http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/styles/default.css',
                          'http://wpdemo.dannci.com/preview/02/wp-content/themes/Echo/custom.css',
                          'users'
    = yield :stylesheets
    = csrf_meta_tag
  %body.home
    = yield   
    = render :partial => 'layouts/javascripts'
